# Ignore gradle files
.gradle/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

build/*
*/build/*

# Local configuration module.cloud.file (sdk path, etc)
local.properties

# files for the dex VM
*.dex

# Java class files
*.class

*.apk
ReleaseKey
*ServerConfig.java

